.button { 
    height: 3rem;
    width: 10rem;
    padding: 0 1rem;
    font-weight: bold;
    border-radius: 50px;

    background: #f8f8f8;
    color: #002838;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1;   
    border-color: #002838;
    cursor: pointer;

    &:not(:disabled):hover{
        filter: brightness(0.9);
    }

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}