//mobile
.sizingt{
    height: 100%;
}

.gap{
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #002838;
}



@media only screen and (min-width: 768px) {
    .sizingt{
        height: 33rem;
    }

    .mtop{
        margin-top: 100%;
    }
}

@media only screen and (min-width: 1800px) {
    .sizingt{
        height: 35rem;
    }
}