//mobile
.sizingt{
    height: 100%;
}

.gap{
    gap: 1rem;
}



@media only screen and (min-width: 768px) {
    .sizingt{
        height: 21rem;
    }
}

@media only screen and (min-width: 1800px) {
    .sizingt{
        height: 35rem;
    }
}