.canceladoDiv{
    height: 3rem;
    width: 14rem;
    padding: 0 1rem;
    font-weight: bold;
    border-radius: 50px;

    background: #f8f8f8;
    color: red;

    display: flex;
    justify-content: center;
    align-items: center;

    
}